

.footer{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    flex-direction: row;
    background-color: #111;
    flex-wrap: wrap;
    padding: 50px 100px;
}
.aboutUs{
    display: flex;
    width: 20%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutUs h2{
    position: relative;
    color: #fff;
    font-weight:500 ;
    margin-bottom: 15px;
}
/* 创造一个横线 */
.aboutUs h2::before{
    content: '';
    position: absolute;
    bottom:-5px ;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #f00;
}
.aboutUs p{
    color: #999;
}